<div
   (click)="handleClick(data.isin)"
   (dblclick)="handleDblClick($event, data.isin)"
   [class.selected]="showDetails">

  <div class="row fundSummary">
    <div class="col-md-8">{{data.name}}</div>
    <div class="col-md-4">30%</div>
  </div>

  <div *ngIf="showDetails" class="fundDetails">
    <chart [data]="details.regions"></chart>
    <chart [data]="details.sectors"></chart>
    
    <button type="button" (click)="handleAddToPortfolio($event, data.isin)"> Add to portfolio</button>
  </div>

</div>
