<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-3">
      <fund-search (searchevent)="handleSearchEvent($event)"> </fund-search>      
    </div> <!-- col -->

    <div class="col-md-3">
      search results
      <ul>
	<li>
	  <fund
	     [data]="fund"
	     *ngFor="let fund of funds"
	     (selectevent)="handleSelectedFundEvent($event)"
	     (addevent)="handleAddToPortfolio($event)">
	  </fund>
	</li>
	<!-- <li class="card" *ngFor="let fund of funds"> -->
	<!--   {{fund.name}} -->
	<!-- </li> -->
      </ul>
    </div>

    <div class="col-md-6">
      current portfolio
    </div>

  </div> <!-- row  -->

</div>
